pipeline/Walmart Stores Pipeline.json
{
	"name": "Walmart Stores Pipeline",
	"properties": {
		"description": "Evaluates what rows were recently modified or added since the last run, then hands those to a stored procedure to be merged into the master destination table.",
		"activities": [
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT \n      [SYS_CHANGE_VERSION] as LastChangeTrackingVersion\n  FROM [dbo].[table_store_ChangeTracking_version]\n  WHERE TableName = 'US_Stores'"
					},
					"dataset": {
						"referenceName": "ChangeTrackingDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion"
					},
					"dataset": {
						"referenceName": "Source_US_Stores",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MergeAndUpdateTrackingProc",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select * from US_Stores RIGHT OUTER JOIN CHANGETABLE(CHANGES US_Stores, @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.LastChangeTrackingVersion}) as CT on US_Stores.Store_Nbr = CT.Store_Nbr where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"sqlWriterStoredProcedureName": "[dbo].[Merge_US_Stores]",
						"sqlWriterTableType": "US_StoresType",
						"storedProcedureParameters": {
							"currentTrackingVersion": {
								"type": "Int64",
								"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}"
							},
							"Return_Message": {
								"type": "String",
								"value": null
							}
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Store_Nbr": "Store_Nbr",
							"Global_Location_Number": "Global_Location_Number",
							"DUNS": "DUNS",
							"Store_Name": "Store_Name",
							"Store_Type": "Store_Type",
							"Building_Address": "Building_Address",
							"Building_City": "Building_City",
							"Building_State_Prov": "Building_State_Prov",
							"Building_Postal_Code": "Building_Postal_Code",
							"Small_Package___Mailing_Address": "Small_Package___Mailing_Address",
							"Mailing_City": "Mailing_City",
							"Mailing_State_Prov": "Mailing_State_Prov",
							"Mailing_Postal_Code": "Mailing_Postal_Code",
							"Phone_Number": "Phone_Number",
							"Size__Sq_Ft_": "Size__Sq_Ft_",
							"Open_Date": "Open_Date",
							"Regional_DC": "Regional_DC",
							"Dry_Grocery_DC": "Dry_Grocery_DC",
							"Perishable_DC": "Perishable_DC",
							"Specialty_DC": "Specialty_DC"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_US_Stores",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Dest_US_Stores",
						"type": "DatasetReference"
					}
				]
			}
		]
	}
}